<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Search Engine Test Automation">
	<test name="Search Engine Test Automation">
		<classes>
			<class name="com.seta.testcases.GoogleSearchTests"/>
			<class name="com.seta.testcases.YahooSearchTests"/>
			<class name="com.seta.testcases.BingSearchTests"/>
		</classes>
	</test>
</suite>